@model D20240408.EntidadesDeNegocio.PersonaD

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusD)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.EstatusD == 0)
            {
                <span>Activo</span>
            }
            else
            {
                <span>Inactivo</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioD)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Cancelar</a>
</div>
