@model IEnumerable<D20240408.EntidadesDeNegocio.PersonaD>

@{
    ViewData["Title"] = "Personas";
}

<h1>Personas</h1>

<form asp-action="Index">
    <div class="row">
        <div class="form-group col-3">
            <label class="control-label">Nombre</label>
            <input type="text" name="NombreD" class="form-control" />
        </div>
        <div class="form-group col-3">
            <label class="control-label">Apellido</label>
            <input type="text" name="ApellidoD" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <input type="submit" asp-action="Index" value="Resetear" class="btn btn-secondary" />
            <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimientoD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimientoD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SueldoD)
                </td>
                <td>
                    @if (item.EstatusD == 0)
                    {
                        <span>Activo</span>
                    }
                    else
                    {
                        <span>Inactivo</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComentarioD)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
